/* Estilos generales del contenedor */
.container {
    background: rgb(35,77,142);
    background: linear-gradient(90deg, rgba(35,77,142,1) 0%, rgba(132,181,117,1) 100%);
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre logo y menú */
    padding: 0 30px;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para el logo */
.logo img {
    max-width: 80%;
    height: auto;
    width: clamp(100px, 10vw, 180px); /* Tamaño dinámico */
}

/* Estilos para el menú */
.menu {  
    
    display: flex;
    justify-content: center;
    
}

.menu ul {
    display: flex;
    gap: 15px;
    padding: 0;
    list-style: none;
    margin: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: color 0.3s;
    margin: 0 5px;
}

.menu ul li a:hover {
    color: #1C355E;
}


/* Ícono de menú hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 35px;
    z-index: 3000;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 4px;
    background-color: white;
    transition: 0.3s;
}


/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: #1C355E;
        width: 100%;
        border-radius: 0px;
        padding: 20px;
        z-index: 2000;
    }


    .menu-toggle {
        display: flex;
    }

    /* Mostrar el menú cuando esté activo */
    .menu.active {
        display: block;
    }

    /* Animación del ícono hamburguesa a "X" */
    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

   



